@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Reem+Kufi);
@import url(https://fonts.googleapis.com/css?family=Assistant);

/** Global */
* {
    font-family: 'Assistant', sans-serif;
}

a,
a:active,
a:focus {
    outline: none;
}

p {
    font-size: 1em;
}

.lite {
    color: #BF943B;
}

.icon {
    width: 160px;
}

.mini-icon {
    max-width: 40px;
}

/** Logo / Nav */

.navbar-brand {
    padding: 5px;
}

.navbar-brand > img {
    max-width: 200px;
}

.login-btn:hover {
    cursor: pointer;
}

.navbar a {
    transition: color 0.5s;
    font-size: 1.3em;
}

.navbar a:hover {
    color: #BF943B !important;
}

/* Page */

.heading {
    margin-bottom: 10vh;
}

.heading * {
    font-family: 'Julius Sans One', sans-serif;
}

.sub {
    margin-bottom: 5vh;
}

.sub * {
    margin-top: 0;
    margin-bottom: 0;
}

.contact-info p {
    font-size: 1.2em;
    line-height: 35px;
}

.faq p {
    margin-left: 30px;
}

/** Typed */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;

}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }

}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }

}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
